img {
    width: 20%;
    height: 20%;
}

body {
    background-color: bisque;
}

img {
    width: 100px;
    height: 100px;
}

.kit {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


.element {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10%;
}

.vol {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

input {
    margin-left: 1%;
    width: 10%;
    height: 10%;
    padding: 0.1%;
}

label[for="vol"] {
    margin-top: 0;
}